/**
  * App theme variables
  */
:root {
  --dark: linear-gradient(309deg, rgba(255,84,83,1) 0%, rgba(0,51,173,1) 100%);
  --principal: #0033ad; /** 38A169 */
  --secondary: rgb(32, 32, 32);
  --info: #8f8f8f;
  --light: #fff;
}

#body {
  background-color: var(--light);
}

.pure-g.pure-g.pure-g [class*=pure-u] {
  color: var(--info);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
* -- PURE BUTTON STYLES --
* I want my pure-button elements to look a little different
*/

.pure-button, .pure-button.pure-button.pure-button.pure-button-primary {
  padding: 0.5em 2em;
  border-radius: 0px;
}

a.pure-button-primary {
  background: var(--principal);
  color: var(--dark);
  border-radius: 0px;
  font-size: 120%;
}

.pure-button {
  padding: 0.25em 1em;
}

.pure-button.pure-button-primary {
  background-color: var(--principal);
  color: var(--dark);
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
}

.pure-button.pure-button-primary:hover,
.pure-button.pure-button-primary:hover {
  background-color: var(--secondary);
  color: var(--light);
}

.pure-button.pure-button-primary:active,
.pure-button.pure-button-primary.active {
  background-color: var(--secondary);
  color: var(--light);
}

.pure-button.pure-button-disabled {
  color: var(--info);
}

/*
* -- MENU STYLES --
* I want to customize how my .pure-menu looks at the top of the page
*/

.home-menu {
  padding: 0.5em 0.5em 0.5em 0;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  background: var(--dark);
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: var(--light);
}

/*
* -- CONTENT STYLES --
* This represents the content area (everything below the blue section)
*/
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  width: 100%;
  margin-top: 70px;
  min-height: 12%;
  z-index: 2;
  background: transparent;
}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 3em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loading-container {
  margin-top: 20%;
}

.main-container {
  display: flex;
  flex: 1;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pure-table {
  border: 0;
}

.pure-table a {
  color: var(--principal);
}

.pure-table a:hover {
  color: var(--info);
}

.pure-table td {
  color: var(--dark);
}

.pure-table thead {
  background: transparent;
}

.pure-table th {
  color: var(--secondary);
}

.pure-table-horizontal td, .pure-table-horizontal th {
  border-bottom: 2px solid var(--dark)
}

#search-btn {
  background: var(--principal);
  color: var(--dark);
  padding: 10px 5px;
  border: 0 none;
  color: white;
}

#search-btn:hover {
  background-color: var(--secondary);
  color: var(--light);
}

#search-box {
  background: var(--light);
  color: var(--info);
  padding: 10px;
  border:0 none;
}

.pure-alert {
  color: var(--info);
  margin-top: 20px;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}

.header-align-right {
  text-align:right;
}

.testnet-logo {
  width: 3.0rem;
}

.title {
  color: var(--principal);
  font-size: 1.0rem;
  font-weight: 800;
  color: white;
}
